{% extends "registration/registration_base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">

  <center><h3>Password reset request</h3></center>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>
        Forgot your password? Enter your email and we'll send you instructions for creating a new one.
      </p>
      <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" title="Submit reset password request">
          Submit
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
