{% extends "registration/registration_base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="container">

  {% with page_title="Reset password" %}
  {% include "website/items/page_title.html" %}
  {% endwith %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <p>Enter your new password below to reset your password:</p>
      {% bootstrap_form_errors form %}
      <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" title="Set new password">
          Submit
        </button>
        {% endbuttons %}
      </form>

    </div>
  </div>
</div>
{% endblock %}
